<div class="bg-dark min-vh-100 text-white container pt-5" style="">

  <%= render 'users/user' , user: @user %>

    <% @user.all_posts.each do |post| %>


      <div class="bg-secondary px-3 pt-3 pb-2 mb-2">

        <div class="bg-secondary">          
            <a class="text-white" href="<%= user_post_path(@user, post) %>">
              <h2><%=post.title%>: Post #<%=post.id%></h2>
            </a>

          <h5 class="pt-2">
            <%=post.text%>
          </h5>

          <div class="d-flex justify-content-end gap-4 pt-3 align-items-center" >
            <span><h6>Comments: <%=post.comments_counter%> </h6></span>
            <span class="me-3" ><h6>Likes: <%=post.likes_counter%> </h6></span>            
            
           

          </div>

            
            
        </div>

        
        



        <div class="bg-secondary pt-3">
          <%post.recent_comments.each do |comment|%>
            <h6>
              <%=@users.find( comment.author_id ).name%>:
            </h6>
            <h6>
              <%=comment.text%>
            </h6>
            <%end%>
        </div>

      </div>



      <%end%>

</div>
